#gear-button {
    position: relative;
    display: block;
}

.gear-dropdown {
    display: none;
    position: absolute;
    top: 20px;
    right: -50px;
    text-align: left;

}

#gear-button:hover .gear-dropdown{
    display: block;
}
